<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>magazine-2012-fall-winter</string>
		<key>title</key>
		<string>2012秋冬</string>
		<key>date</key>
		<date>2012-09-01T00:00:00Z</date>
		<key>cover</key>
		<string>http://msyaming.s3.amazonaws.com/2012_2_fall/issue_cover.png</string>
		<key>newsstandIcon</key>
		<string>http://msyaming.s3.amazonaws.com/2012_2_fall/issue_newsstand_icon.png</string>
		<key>content</key>
		<string>http://msyaming.s3.amazonaws.com/2012_2_fall/book.zip</string>
	</dict>
</array>
</plist>
